<!DOCTYPE html>
<html>
<head>
  <% include ../../../../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/products.css"/>
</head>

<body>
  <% include ../../../../includes/nav.ejs %>
    <% include ../../../../includes/prove03nav.ejs %>
  
<div class="jumbotron text-center" style="padding-bottom: 0px">
  <div class="container">
    <h1><%= title %></h1>
    <h3>Intersting Fact of the Week</h3>
    <p>Did you know that the Black Market trade on organs generates over a billion dollars each year, and studies estimating that anywhere from 5% to 42% of transplanted organs are illicitly purchased.</p>
  </div>
</div class="container">
    <form action="add-product" method="POST" class="text-center">
        <label for="title">Title of Art piece</label><br>
        <input type="text" name="title" id="title" placeholder="Title"><br>
        <label for="imageURL">URL</label><br>
        <input type="text" name="imageURL" id="imageURL"><br>
        <label for="price">Price in Millions</label><br>
        <input type="number" name="price" id="price" placeholder="Price"><br>
        <label for="artist">Name of Artist</label><br>
        <input type="text" name="artist" id="artist" placeholder="Name of Artist"><br>
        <label for="discription">Discription of the Art piece</label><br>
        <textarea type="text" name="discription" id="discription" rows="4" cols="50" placeholder="Discription of Art"></textarea>
        <br>
        <button type="submit">Add Product</button>
    </form>
</div>

</body>
</html>