<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/prove02.css" />
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center" style="padding-bottom: 0px">
  <div class="container">
    <h1><%= title %></h1>
    <h3>Intersting Fact of the Week</h3>
    <p>Did you know that the Library of Congress has more than 38 million books and other printed materials, 3.6 million recordings, 14 million photographs, 5.5 million maps, 8.1 million pieces of sheet music and 70 million manuscripts, 5,711 incunabula, and 122,810,430 items in the nonclassified (special) collections:
        more than 167 million total items.</p>
  </div>
</div>
<div class="container">
    <% if(see_Books == false) {%>
        <form action="/prove02/book-summary" method="POST">
            <label for="title">Name of Book</label><br>
            <input type="text" name="book" id="book" placeholder="Title">
            <br>
            <label for="summary">Summary of Book</label><br>
            <textarea type="text" name="summary" id="summary" rows="4" cols="50" placeholder="Summary of Book"></textarea>
            <br>
            <button>Submit Book</button>
            <input type="reset" value="Clear">
        </form>
        <form action="/prove02/see-books" method="GET">
            <button>See Books</button>
        </form>
    <% } %>
    <% if(see_Books == true) {%>
        <div class="grid">
            <% for(var i = 0; i < books.length; i++) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= books[i].title %></h1>
                    </header>
                    <div class="card__content">
                        <h2 class="product__price">Summary</h2>
                        <p class="product__description"><%= summaries[i].summary %></p>
                    </div>
                </article>
            <% } %>
        </div>
        <% if(books.length == 0){ %>
            <h2>No Books were Found</h2>
        <% } %>
        <br>
        <form action="/prove02/remove-books" method="POST">
            <button>Remove Books from Catalog</button>
        </form>
        <form action="/prove02" method="GET">
            <button>Enter another Book</button>
        </form>
    <% } %>
</div>


</body>
</html>
