<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <% switch(style) {
    case '1': %>
    <link rel="stylesheet"  href="/public/stylesheets/ta05-1" />
    <% break;
    case '2': %>
    <link rel="stylesheet"  href="/public/stylesheets/ta05-2" />
    <% break;
    default: %>
    <link rel="stylesheet"  href="/public/stylesheets/ta05.css" />
    <%
  } %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Team Activity 05</p>
  </div>
</div>
<div class="container">
    <form action="/teamActivites/ta05/style" method="POST">
        <label for='css_style'>Choose your color style</label><br>
        <select id="css_style" name="css_style">
          <option value='0'>
            Default (Blue)
          </option>
          <option value='1'>
            Style 1 (red)
          </option>
          <option value='2'>
            Style 2 (green)
          </option>
        </select>
        <button type="submit">Change Style</button>
    </form>
  
</div>
<div class="container">
        <h3 class="style">Here is the style</h3>
    </div>

    <div class="container">
        <form action="/teamActivities/05/counter" method="POST">
          <input type="hidden" name="constant" value="1">
          <button class="btn btn-default" type="submit">+</button>
        </form>
        <div>
            <h3>Counter is at: <%= counter %></h3>
        </div>
        <form action="/teamActivities/05/counter" method="POST">
          <input type="hidden" name="constant" value="-1">
          <button class="btn btn-default" type="submit">-</button>
        </form>
      </div><br>

<div class="container">
    <form action="/teamActivites/ta05/reset-session" method="POST">
        <button class="btn btn-default" type="submit">Reset Session</button>
    </form>
</div>

</body>
</html>
